doctype
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title GIF 채팅방
    body
        div F12를 눌러 console 탭과 network 탭을 확인하세요.
        script(src="/socket.io/socket.io.js")
        script.
            // socket.io
            var socket = io.connect('http://localhost:8005',{
                // 서버의 path 옵션과 동일해야 한다.
                path:'/socket.io',
                transports:['websocket']
            });
            socket.on('news', function(data) {
                console.log(data);
                socket.emit('reply', 'Hello Server');
            })
            // ws
            // 프로토콜 ws: 확인
            //var webSocket = new WebSocket("ws://localhost:8005");
            // 서버와 연결
            //webSocket.onopen = function(){
            //    console.log('서버와 연결됨');
            //}
            // 서버로부터 메시지 수신시 onmessage 이벤트 리스너 호출
            //webSocket.onmessage = function(event){
            //    console.log(event.data);
                // 서버에서 메시지를 수신하면 서버로 답장 전송
            //    webSocket.send('클라이언트에서 서버로 전송');
            //}
        