doctype
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        title= title
        link(href="/main.css", rel="stylesheet")
    body
        block content
            
        