doctype
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title || '장소 검색 서비스'
        link(rel="stylesheet", href="/main.css")
    body
        form#search-form( method="get")
            span 장소 검색 서비스
            input#search
            select#type
                option(value="") 없음
                option(value="cafe") 카페
                option(value="store") 상점
                option(value="bank") 은행
                option(value="school") 학교
            button#search-btn.btn(type="sumbit") 검색
            button#loc-search-btn.btn(type="button") 주변 검색
            ul#search-list
        block content
        script
            include layout.js
        